django>=4.2
fastapi
uvicorn
nest-asyncio
llama-cpp-python==0.2.77
langchain
langchain-community
langchain-core
requests
pyngrok
grandalf==0.8  # Versión fija para evitar advertencias
paramiko>=3.0.0  # Reemplazo para 'ssh'